{% extends 'heredac.html' %}

{% block contenido %}
	<form method = "POST">
		{% csrf_token %}		
<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm">
        <h5>Registro de Bomberos</h5>
        <p>Aca puedes registrar el personal de Bomberos (si entras y ves la lista notaras que puedes editarlas y eliminarlas si asi es necesario)*</p>
        <div id="message"></div>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Cui: {{ form.cui }}</td>
          <br>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Nombre: {{ form.nombre }}</td>
          <br>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Edad: {{ form.edad }}</td>
          <br>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Direccion: {{ form.direccion }}</td>
          {% comment %}
          <br>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Foto: {{ form.foto }}</td>
          <br>
          {% endcomment %}
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Cargo: {{ form.cargo }}</td>
          <br>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Activo: {{ form.activo }}</td>
          <br>
          <button type="submit" value="Submit" class="submitBnt">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</section>
	</form>
{% endblock %}
