{% extends 'heredac.html' %}

{% block contenido %}
{% if user.is_authenticated %}
	<form method = "POST">
		{% csrf_token %}		
<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm">
        <h5>Registro de Habitaciones</h5>
        <p>Aca puedes registrar las habitaciones, si entras y ves la lista notaras que puedes editarlas y eliminarlas si asi es necesario</p>
        <div id="message"></div>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Tipo de habitacion: {{ form.tipo }}</td>
          <br>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Descripcion: {{ form.descripcion }}</td>
          <br>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Numero de Habitacion: {{ form.numero }}</td>
          <br>
          <td class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Ocupada: {{ form.ocupado }}</td>
          <br>


          <button type="submit" value="Submit" class="submitBnt">Agregar habitacion</button>
          
          <br>
          <br>

          <td><a href="{% url 'page:listaHabitacion' %}" class="btn btn-success">Lista habitaciones</a></td>
          <div id="simple-msg"></div>
        </form>
      </div>
    </div>
  </div>
</section>
	</form>
	{% endif %}
{% endblock %}
