{% extends 'heredac.html' %}

{% block contenido%}

<h3>Listado de habitaciones Disponibles</h3>

<table class="table table-striped table-hover">
	<tr>
		<td>Numero de habitacion</td>
		<td>Tipo habitacion</td>
		<td>Descripcion</td>
		<td>Ocupado</td>
		<td>Fecha de creacion/registro habitacion</td>
	</tr>

	{% for est in object_list %}
	{% if est.esta_ocupado == False %}
	<tr>
		<td>{{ est.numero }}</td>

		
		{% if est.get_tipo_habitacion == '0' %}
			<td>Sencilla</td>
		{% elif est.get_tipo_habitacion == '1' %}	
			<td>Doble</td>
		{% endif %}


		<td>{{ est.descripcion }}</td>


		{% if est.esta_ocupado == False %}
			<td>NO</td>
		{% elif est.esta_ocupado == True %}	
			<td>SI</td>
		{% endif %}


		<td>{{ est.fecha }}</td>
		<!--
		<td>
			<a href="{% url 'page:EditarHabitacion' est.id %}">Editar</a>
		</td>
		<td>
			<a href="{% url 'page:EliminarHabitacion' est.id %}">Eliminar</a>
		</td>
		-->
	</tr>
	{% endif %}
	{% endfor %}
</table>

{% endblock %}