 {% extends 'heredac.html' %}

{% block contenido %}
<p>
<center>
	<h1>Centro turistico Wuq Laq</h1>
</center>
<h3>Les ofrece los siguientes servicios:</h3>
<br>
</p>

<p>
Ubicada en el Caserío Siete Platos, de la Aldea El Salitre, del Municipio de San Miguel Ixtlahuacán San Marcos.

Tiempo aproximado para llegar al lugar, son 20 a 30 minutos en vehículo
Laboran todos los días de la semana de 9.00 AM a 9.00 PM	
</p>

<p>
	<h4>Los servicios que ofrecen son los siguientes:</h4>
<ul>
	<li>1.	Piscinas (adultos y niños)</li>
	<li>2.	Jaccuzy para adultos y niños</li>
	<li>3.	Servicios de alimentación (Restaurant)</li>
	<li>4.	Juegos recreativos y mecánicos para niños </li>
	<li>5.	Venta de artículos de consumo diario (Tienda de abarrotes)</li>
	<li>6.	Juegos de futíos</li>
	<li>7.	Juegos de tenis de mesa</li>
	<li>8.	Juego de hockey de mesa</li>
	<li>9.	Partidos en cancha sintética</li>
	<li>10.	Servicio de gimnasio</li>
	<li>11.	Servicio de hotel (hospedaje)</li>
</ul>
</p>

<footer>Aca puedes revisar la informacion sobre el centro y mantenerte al tanto sobre nuestros servicios</footer>

{% endblock %}