 {% extends 'heredac.html' %}

{% block contenido %}
<p>
<center>
	<h1>Bomberos Voluntarios</h1>
</center>
<h3>Les ofrece los siguientes servicios:</h3>
<br>
</p>
<h4>Numeros de telefono:</h4>
<p>
<ul>
	<li>77601661</li>
	<li>77605812</li>
	<li>122</li>
</ul>
</p>

<p>
	<h4>Los servicios que ofrecemos son los siguientes:</h4>
<ul>
	<li>1.	Maternidad</li>
	<li>2.	Dolores abdominales</li>
	<li>3.	Emorragia de muelas</li>
	<li>4.	Operaciones</li>
	<li>5.	Intervenciones quirurgicas</li>
	<li>6.	Accidentes laborales</li>
	<li>7.	Personas fracturadas</li>
	<li>8.	Personas quemadas</li>
</ul>
</p>

<footer>Aca puedes revisar la informacion sobre el centro y mantenerte al tanto sobre nuestros servicios</footer>

{% endblock %}